<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="OSS Index"
            nameFilter="*.*"
            class="net.ossindex.eclipse.properties.OssIndexPropertyPage"
            id="net.ossindex.eclipse.properties.OssIndexPropertyPage">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IFile">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="net.ossindex.eclipse.decorators.OssIndexDecorator"
            icon="icons/ossi-decorator.png"
            id="net.ossindex.eclipse.decorators.OssIndexDecorator"
            label="OSS Index Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="DependencyBuilder"
         name="OSS Index Dependency Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.ossindex.eclipse.builder.DependencyBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="OssIndexNature"
         name="OSS Index Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.ossindex.eclipse.builder.OssIndexNature">
         </run>
      </runtime>
      <builder
            id="net.ossindex.eclipse.DependencyBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.ossindex.eclipse.OssIndexNature.category"
            name="OSS Index Nature commands">
      </category>
      <command
            categoryId="net.ossindex.eclipse.OssIndexNature.category"
            defaultHandler="net.ossindex.eclipse.builder.AddRemoveOssIndexNatureHandler"
            id="net.ossindex.eclipse.addRemoveOssIndexNature"
            name="Add/Remove OSS Index Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="net.ossindex.eclipse.addRemoveOssIndexNature"
               label="Disable OSS Index Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="net.ossindex.eclipse.OssIndexNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.ossindex.eclipse.addRemoveOssIndexNature"
               label="Enable OSS Index Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="net.ossindex.eclipse.OssIndexNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="net.ossindex.eclipse.marker.DependencyMarker"
         name="Dependency"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="net.ossindex.eclipse.marker.name">
      </attribute>
      <attribute
            name="net.ossindex.eclipse.marker.version">
      </attribute>
      <attribute
            name="net.ossindex.eclipse.marker.artifactId">
      </attribute>
      <attribute
            name="net.ossindex.eclipse.marker.scmId">
      </attribute>
      <attribute
            name="net.ossindex.eclipse.marker.optional">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="net.ossindex.eclipse.marker.DependencyMarker"
            name="net.ossindex.eclipse.marker.DependencyMarker">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.ossindex.eclipse.marker.DependencyMarker"
            colorPreferenceKey="net.ossindex.eclipse.marker.color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="net.ossindex.eclipse.marker.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Dependency Marker"
            overviewRulerPreferenceKey="net.ossindex.eclipse.marker.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="net.ossindex.eclipse.marker.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="net.ossindex.eclipse.marker.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         id="net.ossindex.eclipse.marker.VulnerabilityMarker"
         name="Vulnerability"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="net.ossindex.eclipse.marker.url">
      </attribute>
      <attribute
            name="net.ossindex.eclipse.marker.id">
      </attribute>
      <attribute
            name="net.ossindex.eclipse.marker.summary">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="net.ossindex.eclipse.views.VulnerabilityView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.ossindex.eclipse"
            name="OSS Index">
      </category>
      <view
            category="net.ossindex.eclipse"
            class="net.ossindex.eclipse.views.VulnerabilityView"
            icon="icons/bug.png"
            id="net.ossindex.eclipse.views.VulnerabilityView"
            name="Vulnerability">
      </view>
      <view
            category="net.ossindex.eclipse"
            class="net.ossindex.eclipse.views.DependencyView"
            icon="icons/chart_organisation.png"
            id="net.ossindex.eclipse.views.DependencyView"
            name="Dependencies">
      </view>
   </extension>
   <extension
         id="net.ossindex.eclipse.marker.OptionalDependencyMarker"
         name="Optional Dependency"
         point="org.eclipse.core.resources.markers">
      <super
            type="net.ossindex.eclipse.marker.DependencyMarker">
      </super>
   </extension>
   <extension
         id="net.ossindex.eclipse.marker.WarningDependencyMarker"
         name="Old Dependency"
         point="org.eclipse.core.resources.markers">
      <super
            type="net.ossindex.eclipse.marker.DependencyMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="net.ossindex.eclipse.marker.WarningDependencyMarker"
            name="net.ossindex.eclipse.marker.WarningDependencyMarker"
            super="net.ossindex.eclipse.marker.DependencyMarker">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="net.ossindex.eclipse.marker.OptionalDependencyMarker"
            name="net.ossindex.eclipse.marker.OptionalDependencyMarker"
            super="net.ossindex.eclipse.marker.DependencyMarker">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.ossindex.eclipse.marker.OptionalDependencyMarker"
            colorPreferenceKey="net.ossindex.eclipse.omarker.color"
            colorPreferenceValue="192,192,255"
            contributesToHeader="false"
            highlightPreferenceKey="net.ossindex.eclipse.omarker.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Optional Dependency Marker"
            overviewRulerPreferenceKey="net.ossindex.eclipse.omarker.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="net.ossindex.eclipse.omarker.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="net.ossindex.eclipse.omarker.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.ossindex.eclipse.marker.WarningDependencyMarker"
            colorPreferenceKey="net.ossindex.eclipse.wmarker.color"
            colorPreferenceValue="255,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="net.ossindex.eclipse.wmarker.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Warning Dependency Marker"
            overviewRulerPreferenceKey="net.ossindex.eclipse.wmarker.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="net.ossindex.eclipse.wmarker.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="net.ossindex.eclipse.wmarker.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>

</plugin>
